<!DOCTYPE html>
<html>
    <head>
        <title>
        </title>
        <style>
            .pm{
                font-family: 'Concert One', cursive;
                padding:1vw 4vw;
                margin:5% 20%;
                border:1px solid rgb(126, 121, 121);
            }
            img{
                padding:5px;
                position: relative;
                width: 50vw;
                height:60vh;
                object-position: center;
                border-radius:5px;
                border:1px solid rgb(87, 83, 83);
            }
            .lighter{
                color:rgb(187, 181, 181);
            } 
        </style>
        <link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
            <div class="navup">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                         <a class="navbar-brand" href="/main">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                           width="30" height="30"
                           viewBox="0 0 172 172"
                           style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e67e22"><path d="M143.30467,53.17667l-51.86947,-28.81573c-1.62253,-0.88293 -3.4572,-1.4276 -5.4352,-1.4276c-1.978,0 -3.81267,0.54467 -5.4352,1.4276l-51.86947,28.81573c-3.42853,1.978 -5.762,5.64733 -5.762,9.89v80.26667c0,6.33533 5.13133,11.46667 11.46667,11.46667h103.2c6.33533,0 11.46667,-5.13133 11.46667,-11.46667v-80.26667c0,-4.24267 -2.33347,-7.912 -5.762,-9.89zM118.72013,135.92013c-2.24173,2.24173 -5.87093,2.24173 -8.10693,0l-17.2,-17.2l8.10693,-8.10693l17.2,17.2c2.24173,2.236 2.24173,5.87093 0,8.10693zM119.94707,91.27467c-5.5728,5.5728 -13.2096,7.43613 -19.21813,5.30333l-39.3364,39.3364c-2.24173,2.24173 -5.87093,2.24173 -8.10693,0c-2.24173,-2.24173 -2.24173,-5.87093 0,-8.10693l18.87413,-18.87413l-13.08347,-13.08347c-8.58853,-8.58853 -10.5436,-21.78667 -4.81027,-32.49653l31.734,31.73973l6.61627,-6.61627c-2.1328,-6.00853 -0.26947,-13.64533 5.30333,-19.21813c7.29853,-7.29853 18.14027,-8.28467 24.22333,-2.2016c6.08307,6.08307 5.09693,16.9248 -2.19587,24.2176z"></path></g></g></svg>
                                               PlanDone
                           </a>
                         
                    </nav>
                           
            </div>
        <div class="pm">
                <div>
                    <h1>Rebelle Bar & Kitchen</h1>
                </div>
                <div class="imgset">
                    <img src="https://b.zmtcdn.com/data/pictures/7/18683657/8da570c8ae611162cd2c13852915ce10_featured_v2.jpg">
                    <p>₹1,100 for 2 <span class="lighter">| North Indian, Chinese, Continental</span></p>
                    <br>
                    <p>SCO 3A, Sector 7, Chandigarh</p>  
                    <p>Time: 11am – 12midnight</p>
                </div>
        </div>
       

        
    </body>
</html>